<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="data2ConnectionString" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=data2;Charset=utf8" providerName="MySql.Data.MySqlClient"/>
    <add name="unitnamedata2" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=information_schema" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="MySql.Data, Version=7.0.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"></customErrors>
    <httpRuntime targetFramework="4.5.2"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR"/>
  </system.web>
</configuration>