<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="data2ConnectionString"
      connectionString="server=localhost;user id=root;password=Himmet1944;persistsecurityinfo=True;database=speaknle_;Convert Zero Datetime=True;Charset=utf8"
      providerName="MySql.Data.MySqlClient"/>
    <add name="unitnamedata2"
      connectionString="server=localhost;user id=root;password=Himmet1944;persistsecurityinfo=True;database=information_schema;Convert Zero Datetime=True;Charset=utf8"
      providerName="MySql.Data.MySqlClient"/>
    <add name="accessdatabasekey" connectionString="@kelA73-+VnAz@!a"/>
  </connectionStrings>
  <system.web>
    <machineKey validationKey="C5991F23C9E584048C344E485D60A007E593B9D3EC384DDC513114400F664BDF897806A9CC336E2E45B755D639DBDF5179A59EB1C0787E2B8C742B7CD2AEDA59"
      decryptionKey="E460ED0B95759F44EEED67004FADE5F38B3A00ADF022585EE05C7AA941D5C708" validation="SHA1" decryption="AES"/>
    <compilation targetFramework="4.5.2" debug="true" urlLinePragmas="true">
      <assemblies>
        <add assembly="MySql.Data, Version=7.0.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5.2"/>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR"/>
    <pages>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
</configuration>
<!--ProjectGuid: 876cce37-f6e1-4568-a580-d98e145fe61e-->